html,
body {
  height: 100%;
}
a {
  text-decoration: none;
}
.narrow {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .narrow {
    width: 600px;
  }
}
.clearfloat::after {
  /* Отмена float'ов */
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  width: 100%;
}
.newLine {
  display: block;
}
.logo {
  width: 216px;
  float: left;
}
.logo img {
  width: 44px;
  height: 42px;
  float: left;
  margin-right: 3px;
}
.logo .siteName {
  font-family: Montserrat;
  font-size: 31.5px;
  font-weight: 800;
  line-height: 0.9em;
  overflow: hidden;
}
.logo .siteName .siteName1 {
  color: #1a9bdc;
}
.logo .siteName .siteName2 {
  color: #494848;
}
.logo .siteName .siteName3 {
  text-transform: uppercase;
  font-size: 14.5px;
  letter-spacing: 5.22px;
  color: #282828;
  line-height: 1.2em;
  margin-left: 2px;
}
.icon {
  border-radius: 50%;
  text-align: center;
  font-family: FontAwesomeFree;
}
header {
  padding-top: 80px;
}
@media (max-width: 1199px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: unset;
  }
}
header .links {
  display: flex;
  justify-content: flex-end;
}
header .links :not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 1199px) {
  header .links :not(:last-child) {
    margin-right: unset;
  }
}
header .links .workTime .iconText {
  width: 235px;
}
header .links .mailUs .iconText {
  width: 160px;
}
header .links .call .iconText {
  width: 120px;
}
header .links .icon {
  width: 51px;
  height: 51px;
  line-height: 51px;
  font-size: 27px;
  background-color: #1a9bdc;
  color: #fff;
  float: left;
  margin-right: 20px;
}
header .links .call .icon {
  font-weight: bold;
}
header .links .iconText,
header .links a {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 1.8;
  color: #6a6a6a;
  overflow: hidden;
}
header .links .iconText h4,
header .links a h4 {
  text-transform: uppercase;
  font-weight: bold;
}
@media (max-width: 1199px) {
  header .links {
    display: block;
  }
}
header .line {
  height: 2px;
  opacity: 0.31;
  background-color: #c2c2c2;
  margin: 25px 0 30px;
}
@media (max-width: 1199px) {
  header .line {
    margin: unset;
    min-width: 200px;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }
}
header nav .menu {
  font-family: Nexa;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
header nav .menu :not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 1199px) {
  header nav .menu {
    flex-direction: column;
    align-items: center;
  }
  header nav .menu :not(:last-child) {
    margin-right: unset;
  }
  header nav .menu .menuItem {
    width: 300px;
    text-align: center;
    border: 1px solid #6c6c6c;
    border-radius: 10px;
    background-color: #efefef;
  }
}
header nav .menu a {
  color: #6c6c6c;
}
header nav .menu .menuItem a:hover {
  color: #262626;
}
header nav .menu .menuItemActive {
  color: #262626;
}
header nav .socials {
  display: flex;
}
header nav .socials :not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 1199px) {
  header nav .socials {
    width: 200px;
    justify-content: space-around;
    margin: 10px;
  }
  header nav .socials :not(:last-child) {
    margin-right: unset;
  }
}
header nav .socials .socialsItem {
  font-family: FontAwesome;
  font-size: 23.5px;
  letter-spacing: 0.59px;
  text-align: center;
  color: #191919;
}
header nav .socials .socialsItem a {
  color: black;
}
.button {
  display: inline-block;
  width: 166px;
  height: 47px;
  border-radius: 24px;
  box-shadow: -3.5px 11.5px 40px 0 rgba(0, 1, 1, 0.2);
  background-color: #1a9bdc;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.48px;
  color: #ffffff;
  line-height: 50px;
}
.button:hover {
  box-shadow: -3.5px 1.5px 20px 0 rgba(0, 1, 1, 0.2);
}
.button:active {
  box-shadow: 0px 0px 0px 0 rgba(0, 1, 1, 0.2);
}
/*# sourceMappingURL=./common.css.map */