@font-face {
  font-family: ArialMT;
  src: url("../fonts/ArialMT.eot?") format("eot"), url("../fonts/ArialMT.woff") format("woff"), url("../fonts/ArialMT.ttf") format("truetype"), url("../fonts/ArialMT.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: ArialMT;
}
.wrapper {
  width: 1280px;
  margin: 0 auto;
}
.padding {
  padding: 50px;
}
.floatfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.header {
  background-color: #445162;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  padding-top: 50px;
  padding-bottom: 40px;
}
.header h1 {
  font-size: 60px;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  line-height: 0.8;
}
.header ul {
  list-style-image: url(../img/check-icon.png);
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  margin-top: 43px;
  margin-left: 37px;
}
.header li {
  margin-bottom: 12px;
}
.header .pic img {
  width: 469px;
  height: 214px;
  max-width: 469px;
  max-height: 214px;
}
h2 {
  font-size: 30px;
  color: #445161;
  margin-bottom: 36px;
  line-height: 0.5;
  text-align: center;
}
.main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.main .about h2 {
  text-align: left;
}
.main .description {
  width: 650px;
}
.main .description p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 10px;
}
.main .pluses {
  background-color: #f5f5f5;
}
.main .pluses .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 270px;
}
.main .pluses .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 563px;
}
.main .pluses .item .icon {
  width: 32px;
  height: 32px;
  background-color: #445161;
  margin-right: 9px;
  margin-top: 6px;
}
.main .pluses .item .icon img {
  padding: 6px;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
}
.main .pluses .item .text {
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}
.main .screenshots .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 331px;
}
.main .screenshots img {
  float: left;
  margin-right: 15px;
  width: 200px;
  height: 150px;
  max-width: 200px;
  max-height: 150px;
}
.main .screenshots h3,
.main .screenshots .text {
  width: 360px;
  overflow: hidden;
}
.main .screenshots h3 {
  font-size: 24px;
  line-height: 1.25;
  color: #445161;
}
.main .screenshots .text {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}
.main .reviews {
  background-color: #f5f5f5;
}
.main .reviews .userpic {
  margin-right: 16px;
}
.main .reviews .userpic img {
  width: 75px;
  height: 75px;
  max-width: 75px;
  max-height: 75px;
}
.main .reviews .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
  height: 266px;
}
.main .reviews .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.main .reviews .content {
  width: 483px;
  background: url(../img/bg_review.png) no-repeat;
  padding: 16px 20px 10px 27px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main .reviews .content_text,
.main .reviews .content_author {
  font-size: 14px;
  line-height: 1.29;
}
.main .reviews .content_text {
  font-style: italic;
  color: #333333;
}
.main .reviews .content_author {
  color: #989898;
}
.main .buy-it-now h2 {
  line-height: 1.2;
}
.main .buy-it-now .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  height: 490px;
  padding-left: 70px;
  padding-right: 70px;
}
.main .buy-it-now .prod-item {
  background-color: #445162;
  width: 300px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.main .buy-it-now .prod-item h3 {
  font-size: 24px;
  line-height: 1.25;
  color: #ffffff;
  margin: 11px 0 11px;
}
.main .buy-it-now .prod-item .prod-price {
  font-size: 40px;
  line-height: 1.6;
  color: #445162;
  width: 300px;
  height: 71px;
  border: solid 2px #445162;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.main .buy-it-now .prod-item .prod-specs {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-align: left;
  margin-bottom: 15px;
}
.main .buy-it-now .prod-item .prod-buy-button {
  margin-bottom: 20px;
}
.main .buy-it-now .prod-item .prod-buy-button button {
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  min-width: 260px;
  min-height: 40px;
  border: 0;
  color: #445161;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}
.main .video {
  width: 430px;
  height: 245px;
  background-color: #445161;
}
.main .video video {
  width: 430px;
  height: 245px;
}
footer {
  padding-top: 60px;
  background-color: #445161;
}
footer h2 {
  color: #fff;
}
footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 250px;
}
footer form {
  width: 500px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
footer input,
footer textarea {
  width: 500px;
  height: 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  color: #445162;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
footer textarea {
  height: 170px;
  padding-left: 10px;
}
footer input::-webkit-input-placeholder {
  padding-left: 10px;
  vertical-align: top;
}
footer input:-ms-input-placeholder {
  padding-left: 10px;
  vertical-align: top;
}
footer input::-ms-input-placeholder {
  padding-left: 10px;
  vertical-align: top;
}
footer input::placeholder {
  padding-left: 10px;
  vertical-align: top;
}
footer button {
  width: 140px;
  height: 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  font-weight: bold;
  line-height: 1.5;
  color: #445162;
  text-transform: uppercase;
}
footer .links .link {
  height: 42px;
}
footer .links a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
footer .links .socials {
  margin-top: 10px;
}
footer .copyright {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.3px;
  color: #445162;
  background-color: #fff;
  margin-top: 50px;
  text-align: center;
}
/*# sourceMappingURL=./style.css.map */